<!-- login.html -->
{% extends 'base.html' %}

{% block title %}Login - My Project{% endblock %}

{% block content %}
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <div style="width: 300px; text-align: center;">
            <h2>Login</h2>
            <form method="post" action="{% url 'login' %}" style="margin-top: 20px;">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Login</button>
            </form>

            <p style="margin-top: 10px;">Don't have an account? <a href="{% url 'register' %}">Register here</a>.</p>
        </div>
    </div>
{% endblock %}
