<!-- login.html -->
<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy0z97DkDShGtFZh2LlQV8AA2DHD9h89Z" crossorigin="anonymous">
</head>
{% extends 'base.html' %}

{% block content %}
  <h2>Login</h2>
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>

  <p>Don't have an account? <a href="{% url 'register' %}">Register here</a>.</p>
{% endblock %}