<!-- register.html -->
{% extends 'base.html' %}

{% block title %}Register - My Project{% endblock %}

{% block content %}
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <div style="width: 400px; text-align: center;">
            <h2>Create an Account</h2>
            <form method="post" action="{% url 'register' %}" style="margin-top: 20px;" class="needs-validation" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-block mt-3">Register</button>
            </form>

            <p style="margin-top: 20px; margin-bottom: 0;">Already have an account?</p>
            <a href="{% url 'login' %}" style="display: block; margin-top: 5px;">Login here</a>
        </div>
    </div>
{% endblock %}
